a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 20px;
}

ul {
    list-style-type: none;
    color: white;
    display: flex;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.header-links {
    display: flex;
    align-items: center;
}

.awesome-section {
    background-color: #1F2937;
    display: flex;
}

.awesome-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    
}

.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
}   

